extends ../layout

block content
  .page-header
    a(href='#', class='btn btn-primary pull-right') Edit
    h3 #{user.name}

  if user.zipcode && user.country
    .row
      div.col-md-2 Location:
      div.col-md-10
        a(href='https://maps.google.com/?q=' + user.country +' ' + user.zipcode, target='_blank') #{user.country} #{user.zipcode}

  if user.gender
    .row
      div.col-md-2 Website:
      div.col-md-10
        label #{user.gender}