extends layout

block content
  h1 What is SocialGood.io?
  p.lead
    | A good or a service that benefits the largest number of people in the largest possible and positive way.
    br
    | Let's make our world a better place!!!

  if user
    .alert.alert-success.animated.flipInX
      i.fa.fa-check
      strong Success!
      |  You are logged in.
