extends layout

block content
  h1 What is SocialGood.io?
  p.lead
    | Social platform uniting people to action on social projects while building their personal character. People will be able to easily connect to build their volunteering experience that is needed to apply to universities and make their persona stand out at job interviews as well as gain satisfaction and personal growth.
    br
    | Let's make our world a better place!!!

  if user
    .alert.alert-success.animated.flipInX
      i.fa.fa-check
      strong Success!
      |  You are logged in.
  h1 Projects
   ul#projectList
    for project in projects
        li#projectListing
            ul
                li #{project.name}
                li #{project.location}
                li #{project.description}
