extends layout

block content
  h1 What is SocialGood.io?
  p.lead
    | Social platform uniting people to action on social projects while building their personal character. People will be able to easily connect to build their volunteering experience that is needed to apply to universities and make their persona stand out at job interviews as well as gain satisfaction and personal growth.
    br
    | Let's make our world a better place!!!

  if (projects.length>0)
    legend Featured
    include projects/projects
