extends layout

block content
  h1 What is SocialGood.io?
  p.lead
    | Social platform uniting people to action on social projects, help each other and get social good credit
    br
    | Let's make our world a better place!

  if (projects.length>0)
    legend Featured
    include projects/projects
